body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    padding-top: 90px;
    padding-bottom: 80px;
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.login-form {
    background-color: rgba(28, 28, 28, 0.5); /* Fondo oscuro con transparencia */
    padding: 20px;
    border-radius: 8px; /* opcional */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Agregado para efecto de profundidad */
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #76ff03; /* Verde claro */
}

.input-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff; /* Etiquetas blancas */
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%; /* Asegura que los campos ocupen todo el ancho del contenedor */
    padding: 0.5rem;
    border: 1px solid #76ff03; /* Borde verde claro */
    border-radius: 4px;
    background-color: #2b2b2b; /* Fondo de los campos */
    color: #ffffff; /* Texto blanco */
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

/* Mantener el estilo del campo al mostrar u ocultar la contraseña */
input[type="password"].show-password,
input[type="text"].show-password {
    border: 1px solid #76ff03; /* Reafirma el borde */
    background-color: #2b2b2b; /* Reafirma el fondo */
    color: #ffffff; /* Reafirma el color de texto */
    -webkit-text-security: none; /* Permite mostrar el texto sin estilo de campo */
}

/* Estilo de enfoque */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: #a3ff6f; /* Borde verde más claro al enfocar */
}

.password-group {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px; /* Ajusta según sea necesario */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.eye-icon i {
    color: #ffffff; /* Color del ícono */
    font-size: 1.2rem;
}
.eye-icon i:hover{
    color: #009929;
}
.checkbox-group {
    margin-bottom: 1rem;
    color: #e0e0e0; /* Texto en los checkbox */
}

.forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 1rem;
    color: #76ff03; /* Link verde claro */
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #a3ff6f; /* Hover verde más claro */
}

.login-btn {
    width: 100%;
    padding: 0.5rem;
    background-color: #009929; /* Botón verde claro */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-btn:hover {
    background-color: #5b8f02; /* Verde más oscuro al pasar */
}

.register-link {
    text-align: center;
    margin-top: 1rem;
    color: #ffffff; /* Texto blanco */
}

.register-link a {
    color: #76ff03; /* Enlace verde claro */
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
    color: #a3ff6f; /* Hover verde más claro */
}



/* Formulario de registro */
form {
    background-color: rgba(28, 28, 28, 0.5);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Hacer el formulario más grande */
}

form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #FFF;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px; /* Aumentar el padding */
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Estilo para los campos de selección y de número */
select,
input[type="number"] {
    background-color: #2b2b2b; /* Fondo de los campos */
    color: #ffffff; /* Color de texto blanco */
    border: 1px solid #76ff03; /* Borde verde claro */
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

/* Estilo de enfoque */
select:focus,
input[type="number"]:focus {
    border-color: #a3ff6f; /* Borde verde más claro al enfocar */
}

.form-group .form-row {
    display: flex;
    gap: 10px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.form-actions button {
    padding: 12px 20px; /* Aumentar tamaño de los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-actions .accept {
    background-color: #007bff;
    color: white;
}

.form-actions .cancel {
    background-color: #dc3545;
    color: white;
}

.form-actions button:hover {
    opacity: 0.9;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    width: 100%;
    height: 35px;
    color: #fff;
    background-image: url('header-bg.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    background-blur: 5px; /* Desenfoque */
    background-color: rgba(0, 0, 0, 0.5); /* Superposición de color */
    transition: all 0.4s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2cm; /* Mueve el logo y texto 2 cm a la izquierda */
}


/* Branding styles */
.branding { display: flex; align-items: center; height: 90px; transition: all 0.4s ease-in-out; position: relative; left: -5cm; bottom: -0.2cm; /* Move the logo and text 2 cm to the left */ }

.logo-lg {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
}

.branding-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

/* Menu styles */
.menu {
    display: flex;
    justify-content: flex-end;
    width: auto;
    text-align: right;
}

.listMenu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.listMenu li {
    display: inline;
    padding: 0 15px;
}

.listMenu li a {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    display: block;
    transition: color 0.2s ease-in-out;
}

.listMenu li a:hover {
    color: #660066;
}

/* Mobile menu button styles */
/* Adjust the mobile menu button position */
.mobileMenuButton {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 34px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.mobileMenuButton:hover,
.mobileMenuButton:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.mobileMenuButton span,
.mobileMenuButton span::before,
.mobileMenuButton span::after {
    display: block;
    position: absolute;
    width: 22px;
    height: 4px;
    background: #262626;
    border-radius: 5px;
    content: '';
    left: 0;
    right: 0;
    margin: auto;
}

.mobileMenuButton span::before {
    top: -8px;
}

.mobileMenuButton span::after {
    bottom: -8px;
}

/* Adjust the list menu items position */
.listMenu li {
    display: inline;
    padding: 0 15px;
    position: relative;
    top: -1.2cm; /* Move the menu items 2 cm up */
}

.listMenu li a {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    display: block;
    transition: color 0.2s ease-in-out;
}

.listMenu li a:hover {
    color: #660066;
}.overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1150;
}

/* Media Query Mobile First Approach */
@media (min-width: 769px) {
    .overlay {
        display: none !important;
    }

    .mobileMenu {
        display: none;
    }

    .wrap-container {
        width: 80%;
        margin: 0 auto;
    }

    .mobileMenuButton {
        display: none;
    }

    .listMenu {
        display: flex;
    }

    .listMenu li {
        margin: 0 15px;
    }
}
