body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    padding-top: 90px;
    padding-bottom: 80px;
    background-image: url('/fondo_login.png'); /* Ruta a la imagen */
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.login-form {
    background-color: rgba(28, 28, 28, 0.5); /* Fondo oscuro con transparencia */
    padding: 20px;
    border-radius: 8px; /* opcional */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Agregado para efecto de profundidad */
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #eea913; /* Verde claro */
}

.input-group {
    margin-bottom: 5px ;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff; /* Etiquetas blancas */
}

input[type="email"],
input[type="text"] {
    width: 100%; /* Asegura que los campos ocupen todo el ancho del contenedor */
    padding: 0.5rem;
    border: 1px solid #eea913; /* Borde verde claro */
    border-radius: 4px;
    background-color: #2b2b2b; /* Fondo de los campos */
    color: #ffffff; /* Texto blanco */
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}



.login-btn {
    width: 100%;
    padding: 0.5rem;
    background-color: #ac780a; /* Botón verde claro */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.extra-links  {
    color: #ffffff; /* Enlace verde claro */
    text-decoration: none;
    margin-bottom: 5px;
}
.login-btn:hover {
    background-color: #eea913; /* Verde más oscuro al pasar */
}
.register-link {
    text-align: center;
    margin-top: 1rem;
    color: #ffffff; /* Texto blanco */
}

.register-link a {
    color: #eea913; /* Enlace verde claro */
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
    color: #ac780a; /* Hover verde más claro */
}
