<app-user-header></app-user-header>

<mat-sidenav-container class="sidenav-container">
  
<a mat-list-item routerLink="/home" routerLinkActive="active-link">Inicio</a>

  <mat-sidenav-content>
    <div class="welcome-section">
      <h1>{{ usuario }}, mejora tus aptitudes y avanza en tu carrera con Agroempleo Learning</h1>
    </div>
  
    <div class="selection-buttons">
      <mat-form-field appearance="fill">
        <mat-label>Cursos</mat-label>
        <mat-select [(ngModel)]="filtroCurso">
          <mat-option value="">Todos</mat-option>
          <mat-option value="Excel">Excel</mat-option>
          <mat-option value="Inglés">Inglés</mat-option>
          <mat-option value="Angular">Angular</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nivel</mat-label>
        <mat-select [(ngModel)]="filtroNivel">
          <mat-option value="">Todos</mat-option>
          <mat-option value="Basico">Básico</mat-option>
          <mat-option value="Intermedio">Intermedio</mat-option>
          <mat-option value="Avanzado">Avanzado</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tiempo</mat-label>
        <mat-select [(ngModel)]="filtroTiempo">
          <mat-option value="">Todos</mat-option>
          <mat-option value="min">Menos de 30 Minutos</mat-option>
          <mat-option value="min">30-60 Minutos</mat-option>
          <mat-option value="1a3">1-3 Horas</mat-option>
          <mat-option value="mas3">Más de 3 horas</mat-option>
        </mat-select>
      </mat-form-field>



      <mat-form-field appearance="fill">
        <mat-label>Favoritos</mat-label>
        <mat-select [(ngModel)]="filtroFavoritos">
          <mat-option value="">Todos</mat-option>
          <mat-option value="Sí">Sí</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="course-recommendations">
      <h2>Principales recomendaciones para {{ usuario }}</h2>

      <div class="carousel-wrapper">
        <div class="carousel">
          <mat-card
            *ngFor="let curso of recomendaciones | filtroCursos:filtroCurso:filtroNivel:filtroTiempo:filtroExtra:filtroFavoritos"
            class="course-card"
          >
            <video
              [src]="curso.videoUrl"
              muted
              (mouseenter)="playVideo($event)"
              (mouseleave)="pauseVideo($event)"
              class="video-hover"
            ></video>
            <mat-card-title>{{ curso.titulo }}</mat-card-title>
            <mat-card-subtitle>Por: {{ curso.autor }}</mat-card-subtitle>
            <p>Duración: {{ curso.duracion }}</p>
            <button
              mat-icon-button
              (click)="toggleFavorito(curso)"
              [color]="curso.favorito ? 'warn' : 'default'"
              aria-label="Favorito"
            >
              <mat-icon>{{ curso.favorito ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </div>

   
  </mat-sidenav-content>
</mat-sidenav-container>
