.perfil-card {
  max-width: 960px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.titulo-card {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #37a737;
}

.perfil-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}


.imagen-previa img {
  max-width: 220px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.subidas {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.subidas mat-label {
  display: block;
  font-weight: bold;
  margin-top: 0.5rem;
}

input[type="file"] {
  margin: 0.5rem 0;
}

.visor-pdf {
  margin-top: 1rem;
  width: 100%;
}

.perfil-formulario {
  flex: 2;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.botones {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
.branding {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-lg {
  height: 40px;
}
.branding-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}