<app-user-header></app-user-header>

<section class="section-1">
  <section class="parallax">
    <div class="parallax-inner">
      <br />
      <h1>Forests</h1>
      <br />
    </div>
    <div class="scroll-indicator">
      <i class="arrow-down"></i> <!-- Ícono de flecha hacia abajo -->
    </div>
  </section>

  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit...</h3>
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit...</h3>

  <section class="parallax-1">
    <div class="parallax-inner">
      <br />
      <h1>Beaches</h1>
      <br />
    </div>
  </section>
</section>

<section class="section-2">
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit...</h3>
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit...</h3>

  <section class="parallax-2">
    <div class="parallax-inner">
      <br />
      <h1>Mountains</h1>
      <br />
    </div>
  </section>
</section>

<app-user-footer></app-user-footer>
