<app-user-header></app-user-header>


<section class="section-1">
  <section class="parallax">
    <div class="parallax-inner">
      <br />
      <h1>Agroempleo</h1>
      <br />
    </div>
    <div class="scroll-indicator">
      <i class="arrow-down"></i> <!-- Ícono de flecha hacia abajo -->
    </div>
  </section>

  <h3>Descubre Agroempleo, tu portal especializado en oportunidades laborales del sector agropecuario. Encuentra diariamente ofertas de trabajo en campo, viveros y producción agrícola, filtra por región y área de interés, y sube tu CV para que las empresas te contacten. ¡Regístrate gratis y recibe alertas personalizadas para avanzar en tu carrera con Agroempleo!</h3>

  <section class="parallax-1">
    <div class="parallax-inner">
      <br />
      <h1>¿Solo eso?</h1>
      <br />
    </div>
  </section>
</section>

<section class="section-2">
  <h3>En nuestra web también encontrarás miles de ofertas actualizadas diariamente, no solo en trabajos de campo, sino también en áreas como administración, logística, tecnología y más. Filtra por ciudad y sector, sube tu CV y permite que las empresas te encuentren. Regístrate gratis, recibe alertas personalizadas y da el siguiente paso en tu carrera con Agroempleo.</h3>

  <section class="parallax-2">
    <div class="parallax-inner">
      <br />
      <h1>te esperamos </h1>
      <br />
    </div>
  </section>
</section>


<app-user-footer></app-user-footer>
