
<header>
  <div class="wrap-container">
    <div class="branding">
      <img class="logo-lg" src="/logo.png" alt="Logo">
      <span class="branding-text">Agroempleo</span>
    </div>

    <nav class="menu">
      <ul class="listMenu" [class.open]="isMenuOpen">
      
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/biblioteca">Búsqueda de empleo</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
      <div class="user-profile">
        <span class="user-name">{{ Nombre }}</span>
        <img [src]="avatarUrl" alt="Usuario" class="avatar" />
      </div>
      <button class="mobileMenuButton" (click)="toggleMenu()">
        <span></span>
      </button>
    </nav>
  </div>
</header>
<body>