<header>
    <div class="wrap-container">
      <div class="branding">
        <img src="/logo.png" alt="Logo de Agroempleo" class="logo-lg" />
        <p class="branding-text">Agroempleo</p>
      </div>
  
      <nav class="menu">
        <!-- Botón para el menú móvil -->
        <button id="mobileButton" class="mobileMenuButton" aria-label="Menú móvil">
          <span></span>
        </button>
  
        <!-- Menú de navegación -->
        <ul class="listMenu">
          <li><a routerLink="/home">Inicio</a></li>
          <li><a routerLink="/busqueda-empleo">Búsqueda de empleo</a></li>
          <li><a routerLink="/contacto">Contacto</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ul>
      </nav>
    </div>
</header>