<header>
  <div class="wrap-container">
    <!-- Branding -->
    <div class="branding">
      <img class="logo-lg" src="/logo.png" alt="Logo">
      <span class="branding-text">Agroempleo</span>
    </div>

    <!-- Menú de navegación centrado -->
    <nav class="menu">
      <ul class="listMenu" [class.open]="isMenuOpen">
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/biblioteca">Búsqueda de empleo</a></li>
        <li *ngIf="tipoUsuario === 'Empleador'">
          <a routerLink="/postulacion">Nueva vacante</a>
        </li>
        <li><a routerLink="/learning">Aprende...</a></li>

      </ul>
      <button class="mobileMenuButton" (click)="toggleMenu()">
        <span></span>
      </button>
    </nav>

    <!-- Perfil de usuario -->
    <div class="user-profile">
      <a  routerLink="/perfil">{{ Nombre }}</a>
      <img [src]="avatarUrl" alt="Usuario" class="avatar" />
      <!-- Si hay sesión iniciada -->
      <button *ngIf="sesionIniciada" (click)="cerrarSesion()" class="btn btn-danger">
        Cerrar sesión
      </button>

      <!-- Si NO hay sesión iniciada -->
      <button *ngIf="!sesionIniciada" (click)="irAIniciarSesion()" class="btn btn-primary">
        Iniciar sesión
      </button>
    </div>
  </div>
</header>

<main class="main-content">
  <!-- Aquí va todo el contenido que debe aparecer debajo del header -->
  <router-outlet></router-outlet>
</main>