.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/pdf.jpg');
    background-size: cover;
    background-position: center;

}
mat-card{
    width: 400px;
    padding: 20px;
    text-align: center;
    background: rgba(88, 87, 87, 0.719);
    

}

