<app-user-header></app-user-header>

<body>

  <div class="job-board-wrapper">

    <!-- Encabezado superior -->
    

    <div class="filtros">
      <input [(ngModel)]="terminoBusqueda" placeholder="Buscar por puesto o empresa..." />
    
      <select [(ngModel)]="filtroExperiencia">
        <option *ngFor="let exp of experiencias">{{ exp }}</option>
      </select>
    
      <select [(ngModel)]="filtroContrato">
        <option *ngFor="let contrato of tiposContrato">{{ contrato }}</option>
      </select>
    
      <select [(ngModel)]="filtrociudad">
        <option *ngFor="let ciudad of ciudad">{{ ciudad }}</option>
      </select>
    
      <select [(ngModel)]="filtroModalidad">
        <option *ngFor="let mod of modalidades">{{ mod }}</option>
      </select>
    </div>
    
    <div class="resultados">
      <p *ngIf="ofertasFiltradas.length === 0">No se encontraron ofertas de empleo.</p>
      <ul>
        <li *ngFor="let oferta of ofertasFiltradas">
          <h3>{{ oferta.TituloPuesto }}</h3>
          <p><strong>Cargo:</strong> {{ oferta.Cargo }}</p>
          <p><strong>Salario:</strong> {{ oferta.Salario }}</p>
          <p><strong>ciudad:</strong> {{ oferta.Ciudad }}</p>
          <p><strong>Tipo de empleo</strong> {{oferta.TipoEmpleo}}</p>
          <p><strong>Publicado por:</strong> {{ oferta.publicado_por }}</p>


          
          <button class="ver-btn" (click)="abrirModal(oferta)">
             Ver detalles
          </button>       
       </li>
      </ul>
    </div>
    <div class="modal-backdrop" *ngIf="modalAbierto">
      <div class="modal">
        <h2>{{ ofertaSeleccionada.TituloPuesto }}</h2>
        <p><strong>Cargo:</strong> {{ ofertaSeleccionada?.Cargo }}</p>
        <p><strong>Descripción del trabajo:</strong> {{ ofertaSeleccionada?.DescripcionTrabajo }}</p>
        <p><strong>Salario:</strong> {{ ofertaSeleccionada?.Salario }}</p>
        <p><strong>Modalidad:</strong> {{ ofertaSeleccionada?.Modalidad }}</p>
        <p><strong>Nivel requerido:</strong> {{ ofertaSeleccionada?.NivelRequerido }}</p>
        <p><strong>Experiencia requerida:</strong> {{ ofertaSeleccionada?.ExperienciaRequrida }}</p>
        <p><strong>Número de vacantes:</strong> {{ ofertaSeleccionada?.NumeroVacantes }}</p>
        <p><strong>Tipo de empleo:</strong> {{ ofertaSeleccionada?.TipoEmpleo }}</p>
        <p><strong>Ciudad:</strong> {{ ofertaSeleccionada?.Ciudad }}</p>
        <p><strong>Publicado por:</strong> {{ ofertaSeleccionada?.publicado_por }}</p>
    
        <button class="ver-btn"(click)="cerrarModal()">Cerrar</button>
        <button class="ver-btn" (click)="Postularme()">Postularme</button>

      </div>
    </div>
  </div>    


      
